.root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 200px);
  height: 400px;
  align-content: center;
  align-items: center;
}

.card {
  border: 1px solid rgb(23, 23, 23);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .root {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 150px);
    height: 600px;
  }
}
