.container {
  position: relative;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  display: flex;
  width: 100%;
}

.container .desltop {
  display: none;
}

.container .footnote {
  margin-bottom: -60px;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
  }

  .container .mobile {
    display: none;
  }
}
