.container {
  padding-top: 80px !important;
}

.paragraph {
  font-size: 24px;
}

@media (max-width: 700px) {
  .container {
    padding-top: 40px !important;
  }

  .paragraph {
    font-size: 22px;
  }
}
