.root {
  height: 650px;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

@media (max-width: 1000px) {
  .root {
    height: 450px;
  }
}


@media (max-width: 700px) {
  .root {
    height: 250px;
  }
}
