.footer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 80px 150px;
}

.description {
  font-size: 24px;
  padding-bottom: 32px;
  line-height: 1.2;
}

.tag {
  display: inline-block;
  font-size: 10px;
  padding-bottom: 32px;
}

.list {
  list-style: none;
  display: grid;
  gap: 10px 0px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 212px 212px;
}

.copyright {
  font-size: 16px;
  color: #808080;
}

@media (max-width: 1000px) {
  .footer {
    grid-template-columns: auto auto;
    gap: 80px 75px;
  }

  .description {
    font-size: 22px;
  }

  .list {
    grid-template-columns: 120px 120px;
  }
}

@media (max-width: 700px) {
  .footer {
    grid-template-columns: auto;
    gap: 40px 0px;
  }

  .list {
    grid-template-columns: auto auto;
  }
}
